<aside class="clients">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <%= image_tag("logos/envato.jpg", :alt => "" , :class => "img-circle img-responsive") %>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <%= image_tag("logos/designmodo.jpg", :alt => "" , :class => "img-circle img-responsive") %>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <%= image_tag("logos/themeforest.jpg", :alt => "" , :class => "img-circle img-responsive") %>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <%= image_tag("logos/creative-market.jpg", :alt => "" , :class => "img-circle img-responsive") %>
            </a>
          </div>
        </div>
      </div>
    </aside>